# Database configuration
POSTGRES__USER=user
POSTGRES__PASSWORD=pass
POSTGRES__PORT=5432
POSTGRES__HOST=localhost
POSTGRES__DB=auth
POSTGRES__URL=postgresql+asyncpg://user:pass@localhost:5432/auth

# SQLAlchemy sessionmaker configuration
POSTGRES__ECHO=0
POSTGRES__ECHO_POOL=0
POSTGRES__POOL_SIZE=5
POSTGRES__MAX_OVERFLOW=10

# JWT configuration
JWT__SECRET_KEY=your_key_value
JWT__ALGORITHM=HS256
JWT__ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT__REFRESH_TOKEN_EXPIRE_MINUTES=10080
